/* INDEX ++++++++++++++++++++++++++++++++ */

.banner{
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.63),rgba(0,0,0,0.63)), url(../images/jpg/banner_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $color-blanco;
    display: grid;
    grid-template-columns: repeat(3,33.33%);
    font-family: $font-primaria;
    h1, h2{
        font-size: 36px;
    }
    h1{
        font-weight: $bold;
        text-transform: uppercase;
    }
    h2{
        font-weight: $black;
    }
    &__viaje {
        grid-column: 2;
        justify-self: center;
        margin-top: 50px;
        p{
        font-size: 15px;
        font-weight: $medium;
        }
    }
    &__desde{
        display: flex;
        align-items: center;
        font-weight: $semi-bold;
        p:nth-child(1) {
            font-size: 9px;
        }
        span {
            font-size: 12px;
        }
        p:nth-child(2) {
            font-size: 30px;
            padding-left: 8px;
        }
    }
    &__btn {
        @extend %btn1;
    }
}

// viajes 

%grilla1{
    display: grid;
    grid-template-columns: repeat(4,24%);
    gap: 1.33%;
}

%t__verde{
    background-color: $color-verde;
    color: $color-blanco;
    display: inline-block;
    padding: 5px 25% 5px 8%;
    border-radius: 5px;
    transform: translate(-10px,-18px);
}

.viajes {
    padding: 25px 0;
    font-family: $font-primaria;
    h2{
        font-size: 36px;
        font-weight: $bold;
        line-height: 33px;
        color: $color-azul-prusia;
        padding: 30px 0;
        span{
            font-weight: $medium;
        }
    }
}

.container2{
    width: 82%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4% 92% 4%;
    
}

.flecha{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-verde;
    font-size: 25px;
}

.destinos{
    display: grid;
    grid-template-columns: repeat(4,24%);
    gap: 1.33%;
    &__oferta{
        box-shadow: 0 0 10px rgba(0,0,0,0.16);
        h3{
            @extend %t__verde;
        }
        &__text{
            img{
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;   
            }
            p{
                padding-left: 5%;
            }
            p:nth-child(1){
                color: $color-verde;
                font-size: 10px;
                font-weight: $bold;
                line-height: 15px;
            }
            p:nth-child(2){
                color: $color-verde;
                font-size: 15px;
                font-weight: $bold;
                line-height: 13px;
                span{
                    font-family: $font-tercera;
                    font-size: 10px;
                    font-weight: $extra-bold;
                }
            }
            p:nth-child(3){
                color: $color-azul-prusia;
                font-size: 12px;
                font-weight: $bold;
            }
            p:nth-child(4){
                color: $color-azul-prusia;
                font-size: 22px;
                font-weight: $bold;
                line-height: 19px;
                display: flex;  
                span{
                    font-family: $font-tercera;
                    font-size: 14px;
                    font-weight: $extra-bold;
                    line-height: 18px;
                }
            }
            &__btn{
                display: flex;
                text-align: center;
                justify-content: center;
                margin: 10px 0;
                a{
                    @extend %btn2;
                }
            }
        }
    }
}

// disfruta

.disfruta{
    padding: 25px 0;
    font-family: $font-primaria;
    h2{
        color: $color-azul-prusia;
        font-size: 36px;
        line-height: 33px;
        font-weight: $bold;
        padding-bottom: 25px;
        span{
            font-weight: $medium;
        }
    }
}

.seguro{
    @extend %grilla1;
    &__info__text{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            padding: 0 5%;
            font-weight: $medium;
        }
        p:nth-child(1){
            color: $color-azul-prusia;
            font-size: 20px;
            line-height: 22px;
        }
        p:nth-child(2){
            color: $color-gris-texto;
            font-size: 12px;
            line-height: 15px;
            padding: 15px 5%;
        }
        &__parr{
            max-height: 36vh;
            overflow: hidden;
        }
        &__btn {
            display: flex;
            text-align: center;
            justify-content: center;
            margin: 10px 0;
            a{
                @extend %btn3;
            }
        }
    }
    &__oferta{
        box-shadow: 0 0 10px rgba(0,0,0,0.16);
        &__text{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                @extend %t__verde;
                padding-right: 11%;
            }
            img{
                width: 100%;
            }
            p{
                padding-left: 5%;
                color: $color-azul-prusia;
                display: flex;    
                align-items: center
            }
            p:nth-child(1){
                font-size: 15px;
                font-weight: $medium;
            }
            p:nth-child(2){
                padding-top: 5px;
                font-weight: $medium;
                font-size: 20px;
                line-height: 22px;
                span{
                    font-size: 9px;
                    line-height: 15px
                }
            }
            &__btn {
                display: flex;
                text-align: center;
                justify-content: center;
                margin: 10px 0;
                a{
                    @extend %btn2;
                }
                
            }
        }
    }
}

